body {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  background-color: rgb(206, 90, 103);
  text-align: center;
}
p {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  font-size: 20px;
  display: block;
  background-color: rgb(31, 23, 23);
  color: rgb(244, 191, 150);
  text-decoration: none;
  padding: 10px;
}

/* Image Soal*/
img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

/* Section Alas*/
.input-luas {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-top: 26px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  outline: none;
  border-radius: 8px;
  padding: 10px;
}

/* Section Tinggi*/
.input-tinggi {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-top: 20px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  outline: none;
  border-radius: 8px;
  padding: 10px;
}

/*Section Sisi A*/
.input-sisi1 {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-top: 26px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  outline: none;
  border-radius: 8px;
  padding: 10px;
}

/*Section Sisi B*/
.input-sisi2 {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-top: 26px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  outline: none;
  border-radius: 8px;
  padding: 10px;
}
/*Section Sisi C*/
.input-sisi3 {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-top: 26px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  outline: none;
  border-radius: 8px;
  padding: 10px;
}

/*Tombol Button*/
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 25px;
  align-self: center;
}

button {
  background-color: rgb(199, 0, 57);
  color: #fff5e0;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(106, 14, 40);
}

button:active {
  transform: translateY(-5px);
}
